
html, h1, h2, h3, h4, h5, h6, a {
	font-family: "Raleway";
}


.jumbotron {
	background-image: url('../images/datacenters.jpg'); /* blue */
	color: #ffffff;
	padding: 100px 25px;
}
.bg-grey {
	background-color: blanchedalmond;
	
}
.btn-default {
	background-color: #111167;
	color: #ffffff;
}
/*.container-fluid {
	padding: 60px 50px;
} */
.logo {
	font-size: 200px;
	color: #111167;
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
}

.about {
	margin: 4em 0;
	padding: 1em;
	position: relative;
}

/*service logo*/
.service-logo{
	height:300px;
	width: 500px;
}
/*product logo page*/
.product-logo{
	height: 200px;
	width: 200px;
}
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

/*logo header company*/
.tech-logo{
	height: 100px;
	width: 150px;
	border-radius:100%
}
.navbar-collapse {
	justify-content: flex-end;
}

.navbar {
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	font-size: 18px !important;
	padding: 35px 0 20px 0;
	opacity: 0.9;
}



	/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
	color: #ffffff !important;
	padding: 13px 20px;
	font-family: "Raleway",sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-toggler {
	background: #fff !important;
}
.navbar-collapse {
	justify-content: flex-end;
}
/* On hover, the links will turn white */
ul.navbar-nav li a:hover,
ul.navbar-nav li a:focus
{
	
	background: #ffd800;
	color: #111167 !important;
}

/* The active link */
ul.navbar-nav li.active a {
	color: #fff !important;
	background-color: #808080 !important;
}

/* Remove border color from the collapsible button */
.navbar-expand  {
	border-color: transparent;
}

/*.white-nav-top {
	background: #999;
	padding: 10px 0;
	-webkit-box-shadow: 0 8px 6px -9px #999;
	box-shadow: 0 8px 6px -9px #999;

} */

/* Dropdown */